/*
ID#: 208
Name: Golf
*/

html { height: 100%; }
body { height: 100%; background:url("../assets/page-bg.png") #F1ECE6; width: 100%;}

/* Typography
-------------------------------------------------------------- */
/* Headings */
div.two-column h1 { margin-bottom: 10px; width: 100%; font-size: 1.8em; text-align: left; clear: both; font-weight:bold; color: #304712; }
h1 { color: #304712; }
h2 { font-weight: bold; font-size: 1.2em; }


div.wide div.main { width: 90%; }

/* Header Bar and Follow Us Bar */
div.header-bar { background: #D1E5EC; }

/* Header bar buttons */
div.header-bar ul li a { border-right: 1px solid #242424; color: #242424; } 
div.header-bar ul li.last a { border-left: 1px solid #242424; } 
div.header-bar ul li a:hover { color: #6FA33F; }


/* Left nav background */
div.two-column.left div.main { padding: 10px; margin: 0 0 0 -180px; border-left: 180px solid #D1E5EC; float: left; position: relative; }
/* left nav */
div.two-column.left div.sidebar { margin: 0; width: 180px; font-size: 11px; float: left; position: relative; z-index: 20; }
div.two-column div.navigation ul { list-style-type: none; padding:0; }

/* Left navbar items */
div.two-column div.navigation ul li a { padding: 7px 10px; background:url(images/side-nav-bg.png) repeat-x 0 0; color: #2F4E57; text-decoration: none; display: block; }
div.two-column div.navigation ul li li a { background: #D1E5EC; color: #242424; border-bottom: 1px solid #77B7CC; font-weight: normal; }
div.two-column.left div.navigation ul li li a:hover, div.two-column.left div.navigation ul li li.current a { background: #DDFAC1; color: #242424; }


/* Two-column main background */
div.two-column.left.wide div.middle,  ul.sf-menu.sf-navbar li li.current:hover { background-color: #DDFAC1; }
.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
