/* Structural Defaults
-------------------------------------------------------------- */
#container-1 {width: 950px; margin:0 auto;}
#container-3 {width:790px;}#navigation { text-align: center; }

/* Theme
-------------------------------------------------------------- */
#container-4 { padding: 10px; float: left; }


.clearfix:after, .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix { display: block; }

