

/* Typography
-------------------------------------------------------------- */
html { font-size: 100.01%; }
body { font-size: 62.5%; }
div.container-1.fs-large { font-size: 130%; } /* 13px */

/* Font-Family Settings */
div.container-1.ff-verdana { font-family: Verdana, Geneva, sans-serif; }


/* Header bar buttons */
div.header-bar ul li { float: right; list-style: none; }
div.header-bar ul li a { height: 25px; padding: 8px 21px 8px 15px; display: block; color: #fff; text-decoration: none; }
div.header-bar a.grButtonText { font-weight: bold; line-height: 1.3em; }
div.header-bar { font-size: 11px; }
/* Header bar margin */
div.wide div.header-bar ul { margin: 0 auto; }


/*  9.0 cvent footer style */
.footer-wrapper{text-align:center; padding:10px 0; font-family:Arial, Verdana,Helvetica,sans-serif;}
.footer-wrapper p {margin:0; padding:0;}
.footer-wrapper span{padding:0 2px;}
.footer-wrapper img.logo{width:124px; height:35px; margin-bottom:10px; background: #fff; padding: 2px 8px; border-radius: 5px;}
.footer-wrapper ul, .footer-wrapper li{list-style:none; margin:0; padding:0;}
.footer-wrapper li{display:inline;}
.footer-wrapper li a{text-decoration:none;}
.footer-wrapper li a:hover{text-decoration:underline;}
.custom-footer .footer-wrapper ul, .custom-footer .footer-wrapper ul li{list-style:disc;}
.custom-footer .footer-wrapper ul li {display:list-item; font-family:Verdana;}
.custom-footer .footer-wrapper ul{padding-left:40px;}

/* Banner image */

.banner-image-container {
	width: 100%;
	margin-bottom: 20px;
}

#bannerImage {
	width: 100%;
}
